@model ASM.Models.MonAn

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4>MonAn</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phanloai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phanloai)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hinh)
        </dt>
        <dd class="col-sm-10">
            <img src="~/images/Monan/@Model.Hinh" style="width:250px; height:200px" />
            @*@Html.DisplayFor(model => model.Hinh)*@
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mota)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mota)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trangthai)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trangthai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MonAnID"class="btn btn-warning">Sửa</a> |
    <a asp-action="Index"class="btn btn-warning" style="margin-top:10px">Quay lại</a>
</div>
